html {
    background: #d3d7d4;
}

body::-webkit-scrollbar {
    display: none;
}

#page_1 {
    margin-left: 15%;
}

body,
input {
    font-size: 9pt;
}

#dCanvas,
#dLine {
    clear: both;
}

.option {
    float: left;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    margin-right: 4px;
    margin-bottom: 4px;
}

.active {
    border: 2px solid white;
}

.lw {
    text-align: center;
    vertical-align: middle;
}

img.output {
    border: 1px solid green;
}

#cSketchPad {
    cursor: arrow;
}

#rossi2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#rossi {
    position: absolute;
    bottom: 17px;
    right: 11px;
    background-color: #8bb1be;
    border-width: 5px;
    border-style: double;
    border-color: #FFAC55;
}

#fullScreenButton,
#ClearIMG,
#PenIMG,
#EraIMG,
#page_1,
#page_2 {
    margin-left: 2px;
    width: 130px;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

#menu_0 {
    margin-left: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: white;
    background-color: black;
}